/* src/App.css */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

.app {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.completed span {
  text-decoration: line-through;
}
